/* @media (min-width: 1025px) and (max-width: 1280px) {
    .toprated_recommendations {
      display: flex;
      flex-direction: column;
      padding: 70px;
    }

    .toprated_house_cardbox {
      display: grid;
      grid-template-columns: 280px 280px 280px;
      column-gap: 50px;
      row-gap: 70px;
      margin-top: 40px;
    }

    .toprated_house_card {
      display: flex;
      flex-direction: column;
      gap: 4px;
     border: 2px solid black;
      box-shadow: 0px 5px 5px 0px rgba(82, 78, 78, 0.75);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(82, 78, 78, 0.75);
      -moz-box-shadow: 0px 5px 5px 0px rgba(82, 78, 78, 0.75);
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: all 0.6s;
    }

    .toprated_house_cardimg {
      width: 280px;
      height: 280px;
      object-fit: cover;
      border-radius: 10px 10px 0px 0px;
      transition: all 0.6s;
    }

    .toprated_house_cardimg:hover {
      transform: scale(1.1);
    }

    .toprated_pricebox {
      position: absolute;
      padding: 10px;
      background-color: var(--primary-color);
      bottom: 150px;
      margin-left: 15px;
      height: 44px;
      border-radius: 8px;
      align-items: center;
      display: flex;
    }

    .toprated_price {
      color: var(--white-color);
      font-weight: 700;
      font-size: 20px;
    }

    .toprated_locationbox {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: var(--grey-color);
    }

    .toprated_house_cardsubs {
      margin-bottom: 10px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .toprated_house_cardmaintext {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    .toprated_house_cardsubtext {
      color: gray;
      font-size: 16px;
      font-weight: bold;
    }

    .toprated_staricon {
      color: var(--rating-color);
      height: 20px;
      width: 20px;
    }

    .toprated_reviewbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 20px;
      font-weight: 700;
    }

    .toprated_button {
      width: 114px;
      height: 41px;
      padding: 11px 14px 11px 14px;
      border-radius: 8px;
      border: 2px;
      gap: 10px;
      background-color: var(--primary-color);
      color: var(--white-color);
      align-items: center;
      margin-top: 50px;
    }
  } */
